@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  scroll-behavior: smooth;
  color-scheme: light;
}

/* Sections */

section {
  @apply max-w-[80rem] my-8 sm:my-8 px-5;
}

.group section {
  @apply p-4 my-0;
}

section h1 {
  @apply text-5xl lg:text-[68px] font-black py-6 text-gray-300 uppercase justify-center text-center;
}

#showcase h1 {
  @apply pb-0 sm:pb-6;
}

#about {
  scroll-margin-top: 60px; /* Adjust to the height of your navbar */
}

/* Experienece Section*/

.vertical-timeline.vertical-timeline-custom-line::before {
  background: #c5d1d1;
}

/* About Section */

.card {
  transition: transform 0.6s ease-in-out; /* Smooth transition effect */
}

.vertical-card {
  transition: transform 0.6s ease-in-out; /* Smooth transition effect */
}

.card .content {
  cursor: default;
  transition: transform 0.6s ease-in-out; /* Adding smooth transition for content */
}

.vertical-card .content {
  cursor: default;
  transition: transform 0.6s ease-in-out; /* Adding smooth transition for content */
}

.card:hover {
  transform: perspective(1000px) rotateX(10deg) rotateY(0deg) rotateZ(0deg); /* Adds a "falling" effect */
  /* transform-origin: bottom; */
}

.card:hover .content {
  transform: translateX(-5px) translateY(-5px);
}

.vertical-card:hover {
  transform: perspective(1000px) rotateX(0deg) rotateY(-10deg) rotateZ(0deg); /* Adds a "falling" effect */
}

.vertical-card:hover .content {
  transform: translateX(-5px) translateY(-5px);
}

.bento-grid {
  @apply grid lg:grid-cols-4 md:grid-cols-3 lg:auto-rows-[300px] auto-rows-[220px] gap-2;
}

.bento-grid .content > p {
  @apply text-[1rem];
}

.bento-grid .content > h2 {
  @apply text-[1.5rem] sm:text-[2rem];
}

.single-grid {
  @apply shadow-lg rounded-[64px] flex flex-col items-center justify-center bg-cover bg-center;
}

.grid-subtitle {
  @apply lg:text-base text-[12px] sm:leading-5 md:leading-5 text-center;
}

.grid-title {
  @apply text-2xl sm:leading-6 md:leading-6 lg:text-3xl font-bold text-center;
}

.grid-social-media-btn {
  @apply w-9 h-9 bg-transparent rounded-full flex items-center justify-center transition duration-300 ease-in-out;
}

.grid-social-media-btn:hover {
  transform: translateX(-5px) translateY(-5px);
}

.grid-email-btn {
  @apply text-[12px] lg:text-base sm:leading-5 md:leading-5 text-center flex gap-3 bg-navy text-white mt-2 lg:mt-5 px-6 lg:py-6 lg:px-12 py-3 rounded-full items-center justify-center hover:bg-pink transition-colors duration-300;
}

.grid-icon {
  @apply lg:text-[50px] text-[32px];
}
